{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index_style.css' %}">
    <title>{{ title }}</title>
</head>
<body>


    <div class="nav_bar">
        <h1>{{ name }}</h1>
    </div>


    <div class="tournament_container">
        {% for command in command_list %}
            <div class="tournament-card">
                <a href="{% url "command_go" command.id %}">
                    <div>
                        <img class="tournament-image" src="{{ command.command_image.url }}" alt="Cant load image">
                        <h2>{{ command.command_name }}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
   
    </div>
    


</body>
</html>